nav {
    padding: 10px 0;

    background-color: #16a085;
}

nav ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

nav ul li {
    position: relative;

    display: inline-block;
}


/* sub navigation */

nav li ul {
    position: absolute;
    top: 40px;
    left: 0;
    /* make this equal to the line-height of the links (specified below) */

    width: 200px;

    background-color: #1bc2a1;
}

nav li li {
    position: relative;

    display: block;

    margin: 0;
}

nav li li ul {
    position: absolute;
    top: 0;
    left: 200px;
    /* make this equal to the width of the sub nav above */

    margin: 0;
}


/* style all links */

nav a {
    margin: 0 12px;
    padding: 0 12px;

    font-family: sans-serif;
    font-size: 16px;
    line-height: 40px;
}

nav a {
    display: block;

    text-decoration: none;

    color: #fff;
}

nav a:hover,
nav a:focus,
nav a:active {
    color: #e67e22;
}


/* style sub level links */

nav li li a {
    margin: 0 10px;
    padding: 0;

    border-bottom: solid 1px #16a085;
}

nav li li:last-child a {
    border-bottom: none;
}


/* hide sub menu links */

ul.sub-menu {
    display: none;
}


/* show arrows for dropdowns */

nav li.drop-down > a {
    background-image: url('img/arrow-down.png');
    background-repeat: no-repeat;
    background-position: right 20px;
}

nav li li.drop-down > a {
    background-image: url('img/arrow-right.png');
    background-repeat: no-repeat;
    background-position: right 16px;
}
